$color1: #00dafa;
$color2: #00f8bd;
$color3: #464646;
$color4: #f5f5f5;
$color5: #58585b;
$color6: #131313;
$color7: #e4e4e4;
$color8: #d8d8d8;
$color9: #757171;
$color10: #c7bebe;
$color11: #989898;
$color12: #6b6a6a;
$color13: #f6efef;
$color14: #353736;
$color15: rgba(112, 112, 112, 0.2);
$color16: #1d1d1d;
$color17: #e3e1e1;
$color18: #a7a7a7;
$color19: #d1d1d1;
$color20: #bbbbbb;
$color21: #110e0e;
$color22: #2e2e2e;
$color23: #ececec;
$color24: #9c9d9f;
$color25: #7a7a7a;
$color26: #f8f8f8;
$color27: #ff3838;
$color28: #8e8e8e;
