.ContactForm {
	width: 100%;
	margin-top: 10%;
	margin-bottom: 15%;
	padding-left: 15%;
	padding-right: 15%;
}
.ContactForm h1 {
	margin-bottom: 2%;
	font-weight: 700;
	font-size: 60px;
	color: white;
	text-shadow: 0 0 3px rgba(0, 244, 191, 1), 0 0 5px rgba(20, 186, 201, 1);
}

.formInput {
	border: 1px solid white;
	color: white;
	padding: 10px;
	background: #0000003d;
}
.formInput:focus {
	border: 1px solid white;
	color: white;
	padding: 10px;
	background: #0000005f;
}
.formInput::placeholder {
	color: white;
}
.bgblack {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	background-image: url("../../assets/comingBg.jpeg");
}
.submit-btn {
	background: linear-gradient(
		90deg,
		rgba(0, 244, 191, 1) 0%,
		rgba(20, 186, 201, 1) 62%
	);
	border-radius: 50px;
	color: black;
	font-weight: 600;
	margin-top: 30px;
	padding: 10px;
	border: none;
}

.contact_us .errorMessage {
	color: #f70000;
	font-weight: 600;
	position: absolute;
	right: 0%;
	bottom: -16px;
	font-size: 14px;
}
